accelerate
acres
annotated-types
anyio
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
ci-info
click
configobj
configparser
contourpy
cycler
dill
docling
docling-core
docling-ibm-models
docling-parse
easyocr
et_xmlfile
etelemetry
exceptiongroup
Faker
fastapi
filelock
filetype
fitz
fonttools
fsspec
greenlet
h11
hf-xet
httpcore
httplib2
httpx
huggingface-hub
idna
imageio
importlib_resources
isodate
Jinja2
jsonlines
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
kiwisolver
langchain
langchain-core
langchain-text-splitters
langsmith
latex2mathml
lazy_loader
looseversion
lxml
markdown-it-py
marko
MarkupSafe
matplotlib
mdurl
mpire
mpmath
multiprocess
networkx
nibabel
ninja
nipype
numpy
opencv-python
opencv-python-headless
openpyxl
orjson
packaging
pandas
pathlib
pillow
pluggy
polars
polyfactory
prov
psutil
puremagic
pyclipper
pydantic
pydantic-settings
pydantic_core
pydot
Pygments
pylatexenc
PyMuPDF
pyparsing
pypdfium2
python-bidi
python-dateutil
python-docx
python-dotenv
python-multipart
python-pptx
pytz
pyxnat
PyYAML
rdflib
referencing
regex
requests
requests-toolbelt
rich
rpds-py
rtree
safetensors
scikit-image
scipy
semchunk
shapely
shellingham
simplejson
six
sniffio
soupsieve
SQLAlchemy
starlette
sympy
tabulate
tenacity
tifffile
tokenizers
torch
torchvision
tqdm
traits
transformers
typer
typing-inspection
typing_extensions
tzdata
ultralytics
ultralytics-thop
urllib3
uvicorn
xlsxwriter
zstandard
